<div class="card">
    <div class="card-header">Filter by Quantity</div>
    
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">From</label>
                <input type="number" id="de" class="form-control">
            </div>
        
            <div id="to" class="form-group">
                <label for="ate">To</label>
                <input type="number" id="ate" class="form-control">
            </div>
        
            <button id="filtrarButton" class="btn btn-primary btn-block btn-sm">Filter</button>  
        
        </form>
    </div>
</div>

